* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  background: grey url(./wall.jpg) no-repeat center center scroll;
  /* 让屏幕自适应 */
  background-size: cover;
}
main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* #footerDiv {
  text-align: center;
} */
footer #footerDiv {
  margin-left: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255, 0.2);
  display: inline-block;
}

kbd {
  border: 1px solid red;
  width: 50px;
  height: 50px;
  display: inline-block; /*kbd为inline元素，不加这句加宽高没有用 */
  text-transform: uppercase;
  position: relative;
}
.kbd {
  width: 50px;
  height: 50px;
  border: none;
  background: -webkit-linear-gradient(top, #292929 0%, #111111 100%);
  color: rgb(255, 255, 255);
  font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: relative;

  /* 让键盘里面的字上下左右居中
  display: inline-flex;
  /* 上下居中 */
  /* align-items: center; */
  /* 左右居中 */
  /* justify-content: center; */
}
.kbd .text {
  position: absolute;
  left: 5px;
  top: 2px;
}
.kbd > img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 5px;
  bottom: 2px;
}
.row {
  margin: 10px;
}
.row kbd {
  margin-left: 8px;
}
kbd > button {
  display: none;
  right: 0;
  bottom: 0;
  position: absolute; /*让button换行，爸爸需要添加absolute*/
}
kbd:hover > button {
  display: inline-block;
}
#mainDiv > div:nth-child(2) {
  margin-left: 10px;
}
#mainDiv > div:nth-child(3) {
  margin-left: -40px;
}
#mainDiv {
  background: rgb(255, 255, 255, 0.2);
  display: inline-block;
  border-radius: 10px;
}
main #mainDiv {
  text-align: center;
}
/* 元素居中 
1.内联元素：给爸爸加个text-line：center
2.块级元素：若宽度是固定的
3.以上都不满足：变成内联元素（display：inline-block）,在其爸爸上加text-line:center
*/
